.flowWrapper {
  position: relative;
  height: 100%;
}

.scroll-wrapper {
  position: fixed;
  bottom: 5px;
  height: 6px;
  width: calc(100% - 10px);
  left: 5px;
  box-sizing: border-box;
  z-index: 1000;
}

.scroll-bar {
  height: 100%;
  background-color: #ffb78b;
  position: absolute;
  border-radius: 999px;
  cursor: pointer;
}