.rfr-text-item {
  color: rgb(117, 119, 126);
  height: 40px;
  transform: translateX(-100%);
  font-size: 1.25rem;
  padding: 0 250px;
  cursor: default;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
}

.rfr-item {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 #df9976;
  background-color: white;
  color: #ff6c10;
  /* border: 1px solid #ff6c10; */
  /* white-space: nowrap; */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  cursor: default;
}

.rfr-item-id {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 1px solid #ff6c10; */
  height: 100%;
  width: 40px;
  background-color: #ffebdf;
  border-radius: 5px 0 0 5px;
}

.rfr-item-text {
  padding: 0 10px;
}

.rfr-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  cursor: default;
  position: relative;
}

.rfr-list-item {
  opacity: 1;
  transition: 0.2s;
  cursor: pointer;
  background-color: #ffebdf;
}

.rfr-list-item:hover {
  background-color: #ff6d24;
  color: white
  /* box-shadow: 0 2px 2px 0 #ff6d24; */
}

.rfr-handle {
  background-color: #ff6c10;
  border-radius: 999px;
}

.empty {
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.25;
  white-space: normal;
  color: rgb(117, 119, 126);
  text-align: center;
  letter-spacing: 0.5px;
  transform: translateY(-100%);
}